@import './mixins';
#drum-machine {
  background-color: yellow;
  @include border(red);
  border-radius: 5em;
  margin: 1em;
  padding: 2em;
  object-fit: cover;
  .drum_pad_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    #drum-pad {
      width: 100vw;
      height: 100px;
      padding: 3em 0;
     // ques es lo que me pides hacer hijo de tu put amadjdjajkdjadkjfkdajkjkdjkljfdakjkfljkldjkjfkñljdfkljfkjdfjftjrkdjjnfkjhd no se de que hablas caption-side: .drum_pad_container; inset-block-start: .drum_pad_container; jdjdjdjjdj border:  soldldkdkdk;
    }
  }
}